<!-- Advantages section -->
<section class="advantages">
  <div class="container">
    <!-- This title is hidden -->
    <h2 class="title-invisible">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <span class="advantages-list__number">721</span>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <span class="advantages-list__number">16kg</span>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <span class="advantages-list__number">84</span>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
