<!-- Contacts -->

<section class="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <ul class="contacts__item-list">
          <li class="contacts__item-list-top">
            <p class="contacts__cafe-type">CAFE</p>
            <h3 class="contacts__city">Chicago</h3>
            <p class="contacts__city-description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__item-list-mid">
            <p class="contacts__open-days">Monday - Friday</p>
            <p class="contacts__open-hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__open-days">Saturday - Sunday</p>
            <p class="contacts__open-hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__item-list-bot">
            <a class="contacts__tel-mail link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__tel-mail link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <ul class="contacts__item-list">
          <li class="contacts__item-list-top">
            <p class="contacts__ft-type">FOODTRUCK</p>
            <h3 class="contacts__shop-city">Los Angeles</h3>
            <p class="contacts__city-description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__item-list-mid">
            <p class="contacts__open-days">Monday - Friday</p>
            <p class="contacts__open-hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__open-days">Saturday - Sunday</p>
            <p class="contacts__open-hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__item-list-bot">
            <a class="contacts__tel-mail link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__tel-mail link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <ul class="contacts__item-list">
          <li class="contacts__item-list-top">
            <p class="contacts__cafe-type">CAFE</p>
            <h3 class="contacts__shop-city">New York</h3>
            <p class="contacts__city-description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__item-list-mid">
            <p class="contacts__open-days">Monday - Friday</p>
            <p class="contacts__open-hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__open-days">Saturday - Sunday</p>
            <p class="contacts__open-hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__item-list-bot">
            <a class="contacts__tel-mai link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__tel-mail link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
