<footer class="footer">
  <div class="footer__container">
    <h1 class="footer-title">
      <span class="footer-title__first-part">homemade ice cream made</span>
      <span class="footer-title__second-part">with passion</span>
    </h1>
    <ul class="soc-list">
      <li class="soc-list__item">
        <a href="" class="soc-list__link"
          ><svg class="soc-list__icon" width="32px" height="32px">
            <use href="./images/sprite.svg#github"></use></svg
        ></a>
      </li>
      <li class="soc-list__item">
        <a href="" class="soc-list__link">
          <svg class="soc-list__icon" width="32px" height="32px">
            <use href="./images/sprite.svg#telegram"></use></svg
        ></a>
      </li>
      <li class="soc-list__item">
        <a href="" class="soc-list__link">
          <svg class="soc-list__icon" width="32px" height="32px">
            <use href="./images/sprite.svg#facebook"></use></svg
        ></a>
      </li>
    </ul>
    <p class="footer-contact">
      <span class="footer-contact__text">Feel free to contact</span>
      <a href="tel:+610383766284" class="footer-contact__tel"
        >+61 (0) 383 766 284</a
      >
    </p>
  </div>
  <ul class="copyright-list">
    <li class="copyright-list__item">
      <p class="copyright-list__text">© 2020 - IceCream.</p>
    </li>
    <li class="copyright-list__item">
      <p class="copyright-list__text">All Rights Reserved.</p>
    </li>
  </ul>
</footer>
