<section class="hero">
    <div class="container hero-blok">
        <div class="box hero-container">
            <h1 class="hero__title"> 
                <span class="wite-text">ice cream<br>made with</span>
                <span class="red-text">passion</span></h1> 
            <div class="hero-button-blok" >
                <button type="button" class="hero__button red-btn">Products</button>
                <button type="button" class="hero__button wite-btn">How it’s made?</button>
            </div>                  
                            
        </div>       
            
        <div class="box hero-fone">
            <picture>               
                <source
                srcset="
                ./images/hero/ellipse_desk_1x.png  1x,
                ./images/hero/ellipse_desk_2x.png  2x"
                media="(min-width: 1200px)" 
                />
                <source
                srcset="
                ./images/hero/ellipse_tab_1x.png 1x,
                ./images/hero/ellipse_tab_2x.png 2x"                
                media="(min-width: 768px)"                
                />
                <source
                srcset="
                ./images/hero/ellipse_mob_1x.png  1x,
                ./images/hero/ellipse_mob_2x.png  2x"
                media="(min-width: 320px)" 
                />
                <img class="hero-img__fone" 
                src="./images/hero/ellipse_mob_1x.png"                 
                >            
            </picture>
            
        </div>

        <div class="box hero-img">
            <picture>               
                <source
                srcset="
                ./images/hero-ic-236.png  1x,
                ./images/hero-ic-472.png  2x"
                media="(min-width: 1200px)" 
                />
                <source
                srcset="
                ./images/hero-ic-143.png  1x,
                ./images/hero-ic-286.png  2x"
                width="171px"
                height="336px"
                media="(min-width: 768px)"                
                />
                <source
                srcset="
                ./images/hero-ic-171.png  1x,
                ./images/hero-ic-342.png  2x"
                media="(min-width: 320px)" 
                />
                <img class="hero-img__picture" 
                src="./images/hero-ic-171.png"
                width="171px"
                height="410px" 
                >            
            </picture>
            
        </div>
        <div class="box milk">
            <picture>                
                <source
                srcset="
                ./images/hero-milk-213.png  1x,
                ./images/hero-milk-426.png  2x"
                media="(min-width: 1200px)" 
                />
                <source
                srcset="
                ./images/hero-milk-152.png  1x,
                ./images/hero-milk-304.png  2x"                
                media="(min-width: 768px)"
                
                />                
                <img class="milk-foto"
                src="./images/hero-milk-152.png"
                width="152px"
                height="154px">             
            </picture>              
            <span class="milk-title-box">
                <p class="milk-title">Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do 
                    eiusmod tempor incididunt ut labore et                    
                </p>
                <img class="arrov" src="./images/arrow-right_hero.png" 
                    width="18px"
                    height="18px">
            </span>
            
        </div>
        <div class="box hero-img">
            <picture>                
                <source
                srcset="
                ./images/hero-tasty-304.png  1x,
                ./images/hero-tasty-608.png  2x"
                media="(min-width: 1200px)" 
                />
                <source
                srcset="
                ./images/hero-tasty-190.png  1x,
                ./images/hero-tasty-380.png  2x"                
                media="(min-width: 768px)"
                
                />                
                <img class="hero-img__picture" 
                src="./images/hero-tasty-190.png" 
                width="190px"
                height="150px">             
            </picture> 
            
        </div>
        <div class="box numbers">
            <li class="numbers-blok">
                <ul class="number-numbers">16</ul>
                <ul class="number-title">cafes</ul>
            </li>
            <li class="numbers-blok">
                <ul class="number-numbers">23</ul>
                <ul class="number-title">food trucks</ul>
            </li>
        </div>
    </div>                            
    
</section>