<section class="products">
  <div class="container">
    <div class="products__content">
      <label class="products__label title" for="">100% natural</label>
      <h1 class="products__title title">products</h1>
      <ul class="products__list list">
        <li class="products__item">
          <article class="product-card">
            <h2 class="product-card__title title">ice cream</h2>
            <p class="product-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="product-but" type="button">
              <svg class="product-card__icon" width="11" height="10">
                <use href="/src/images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </article>
        </li>
        <li class="products__item">
          <article class="product-card">
            <h2 class="product-card__title title">ice coffee</h2>
            <p class="product-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="product-but" type="button">
              <svg class="product-card__icon" width="11" height="10">
                <use href="/src/images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </article>
        </li>
        <li class="products__item">
          <article class="product-card">
            <h2 class="product-card__title title">milkshakes</h2>
            <p class="product-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="product-but" type="button">
              <svg class="product-card__icon" width="11" height="10">
                <use href="/src/images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
