<section class="products">
  <div class="container">
    <p class="products__label title">100% natural</p>
    <h2 class="products__title title">products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <article class="product-card">
          <h3 class="product-card__title title">ice cream</h3>
          <p class="product-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="product-but" type="button">
            <svg class="product-card__icon" width="11" height="10">
              <use href="/src/images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card">
          <h3 class="product-card__title title">ice coffee</h3>
          <p class="product-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="product-but" type="button">
            <svg class="product-card__icon" width="11" height="10">
              <use href="/src/images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card">
          <h3 class="product-card__title title">milkshakes</h3>
          <p class="product-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="product-but" type="button">
            <svg class="product-card__icon" width="11" height="10">
              <use href="/src/images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>
