<!-- Customer Reviews -->

<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">reviews</h2>
    <div class="reviews__slider">
      <input
        type="radio"
        name="review"
        title="review_01"
        checked="checked"
        class="reviews__slider-nav"
      />
      <input
        type="radio"
        name="review"
        title="review_02"
        class="reviews__slider-nav"
      />
      <input
        type="radio"
        name="review"
        title="review_03"
        class="reviews__slider-nav reviews__slider-nav--last"
      />
      <div class="reviews__slider-list">
        <article class="reviews__slider-item">
          <img
            class="reviews__avatar"
            src="./images/customer1.png"
            alt="customer"
          />
          <div class="reviews__box">
            <div class="reviews__text-box">
              <p class="reviews__slider-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__location">Emily, Los Angeles</p>
        </article>
        <article class="reviews__slider-item">
          <img
            class="reviews__avatar"
            src="./images/customer2.png"
            alt="customer"
          />
          <div class="reviews__box">
            <div class="reviews__text-box">
              <p class="reviews__slider-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__location">Bella, NY</p>
        </article>
        <article class="reviews__slider-item">
          <img
            class="reviews__avatar"
            src="./images/customer3.png"
            alt="customer"
          />
          <div class="reviews__box">
            <div class="reviews__text-box">
              <p class="reviews__slider-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__location">Nicol, Chicago</p>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- Customer Reviews end -->
