.container {
    position: relative;
    /* центровка контента по середине и ширина контента */
    margin-left: auto;
    margin-right: auto;
    /* Отступы справа и слева всего контента */
    padding-left: 20px;
    padding-right: 20px;
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
  
      padding-left: 32px;
      padding-right: 32px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 1280px;
  
      padding-left: 16px;
      padding-right: 16px;
    }
  }