.mob-menu {
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: var(--bg-color-burger);

    z-index: 9998;

    overflow: auto;

    transform: translate(0, 0);
    transition: transform var(--timing-duration) var(--timing-function);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.mob-menu.is-hidden {
    transform: translate(100%, 0);
    transition: transform var(--timing-duration) var(--timing-function);
}

.menu-btn-close {
    height: 14px;

    margin-left: auto;
    margin-bottom: 24px;
    padding: 0;

    background-color: transparent;

    fill: var(--btn-color2);

    transition: fill var(--timing-duration) var(--timing-function);

    &:hover,
    &:focus {
        fill: var(--btn-color1);
    }
}

.mob-menu__btn {
    min-width: 209px;    
    margin-bottom: 32px;
}

.primary-btn__icon--margin {
    margin-left: 28px;
}

.mob-menu-list{
    display: flex;
    flex-direction: column;
    align-self: stretch;   
}

.mob-menu-list__item {
    &:nth-child(2n+1) {
        border-top: 1px solid #E18298;
        border-bottom: 1px solid #E18298;
    }    
}

.mob-menu-list__link {   
    display: block;

    padding-top: 12px;
    padding-bottom: 12px;    

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    color: var(--main-font-color);   

    &:hover,
    &:focus {
        color: var(--accent-font-color);
    }
}

/* .mob-menu-list__item {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 23px;
    }

    &::before {
        content: "";
        width: 100%;
        border-bottom: 1px solid #E18298;
        position: absolute; 
        top: -12px;
    }    

    &:last-child ::before {
        content: "";
        width: 100%;
        border-bottom: 1px solid #E18298;
        position: absolute;
        bottom: -12px;
    }
    
    height: 42px;
    padding-top: 12px;
    padding-bottom: 12px;

    border-top: 1px solid #FFFFFF;

    &:last-child{
    border-bottom: 1px solid #FFFFFF;
    } 
} */

/* .mob-menu-list__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: var(--main-font-color);

    &:hover,
    &:focus {
        color: var(--accent-font-color);
    }   
} */
 

